<div class="container">
  <h1 class="mb-4">Cadastro de Despesas</h1>
  <form method="POST" action="/despesas/registrar">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        name="title"
        placeholder="Título da despesa"
        required
      />
    </div>
    <div class="mb-3">
      <label for="valor" class="form-label">Valor</label>
      <input
        type="number"
        class="form-control"
        id="valor"
        name="value"
        placeholder="Valor da despesa"
        step="0.01"
        required
      />
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea
        class="form-control"
        id="descricao"
        name="description"
        rows="3"
        placeholder="Descrição da despesa"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="data" class="form-label">Data</label>
      <input type="date" class="form-control" id="data" name="date" required />
    </div>
    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria</label>
      <select class="form-select" id="categoria" name="category" required>
        <option value="">Escolha uma categoria</option>
        <option value="Alimentação">Alimentação</option>
        <option value="Assinaturas">Assinaturas</option>
        <option value="Estudos">Estudos</option>
        <option value="Lazer">Lazer</option>
        <option value="Mercado">Mercado</option>
        <option value="Outros">Outros</option>
        <option value="Saúde">Saúde</option>
        <option value="Transporte">Transporte</option>
        <option value="Vestuário">Vestuário</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="formaPagamento" class="form-label">Forma de Pagamento</label>
      <select
        class="form-select"
        id="formaPagamento"
        name="paymentForm"
        required
      >
        <option value="">Escolha a forma de pagamento</option>
        <option value="Crédito">Crédito</option>
        <option value="Débito">Débito</option>
        <option value="Dinheiro">Dinheiro</option>
        <option value="PIX">PIX</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Despesa</button>
  </form>
</div>