<div class="container">
  <h1>Informações</h1>
</div>
<div class="container">
  <p><b>Desenvolvedor: </b>Roger Marllus Oliveira Leal </p>
  <p><b>Instituição: </b>Instituto Federal do Sudeste de Minas Gerais, Campus
    Manhuaçu.</p>
  <p><b>Criado durante: </b>Semeste 2024/1</p>
  <hr />
  <a href="/">
    <button class="btn btn-outline-secondary">
      Voltar
    </button>
  </a>
</div>