<h1>Planeco</h1>
<h2>Informações</h2>
<div>
  <p><b>Desenvolvedor: </b>Roger Marllus Oliveira Leal </p>
  <p><b>Instituição: </b>Instituto Federal do Sudeste de Minas Gerais, Campus
    Manhuaçu.</p>
  <p><b>Criado durante: </b>Semeste 2024/1</p>
</div>
<hr />
<a href="/">
  <button class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i>
    Voltar
  </button>
</a>