@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
  --verde_primario: rgb(125, 190, 28);
  --cinza_primario: #505050;
  --verde_secundario: rgb(210, 255, 143);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
a {
  font-family: "Dosis";
  color: var(--cinza_primario);
}

p {
  color: black;
}

nav {
  margin-bottom: 50px;
  background-color: rgb(210, 255, 143);
}

#nav {
  padding-left: 30px;
  padding-top: 5px;
  height: 50px;
}

#nav li a {
  font-size: 1.4em;
  margin-left: 5px;
  padding-bottom: 15px;
  margin-bottom: -10px;
  color: var(--cinza_primario);
  font-weight: bold;
}

#nav li a:hover {
  color: black;
}

a.nav-link:hover,
#nav a.active {
  color: black;
  transition: 0.05s;
  border-bottom: 3px solid black;
}

#nav a.disabled {
  color: var(--cinza_primario);
}

#navbar-logo {
  color: var(--cinza_primario);
  font-weight: bold;
}
#navbar-logo:hover {
  color: black;
}

.btnIcon {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  border: none;
}

.btnIconOp {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-decoration: none;
  margin-right: 15px;
}

.btnIconOp,
.btnIcon {
  color: darkgray;
  font-size: 25px;
}
.btnIconOp:hover,
.btnIcon:hover {
  color: black;
  transform: scale(1.05);
  transition: 0.5s;
  margin-top: 0px;
}

.btnIconOp:active,
.btnIcon:active {
  color: rgb(185, 230, 118);
}

.list-group-item {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid darkgray;
}

p.expenseValueList {
  font-family: "Dosis";
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #ff3f3f;
  font-size: 1.6em;
  margin: 10px;
}

div.expensesValues {
  display: flex;
  justify-content: left;
  align-items: center;
}

div.row {
  margin-bottom: 0px;
  padding: 0px;
}

div.divExpenses {
  height: 60px;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 8px #21212125;
  margin: 10px;
}

div.expensesOperations {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 12px;
}

hr {
  border-color: white;
  border: 1px solid black;
}

span.badge {
  font-family: "Dosis";
  font-size: 1.4em;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 8px;
  margin: 5px;
}

span.food {
  background-color: #c5864a;
}

span.subscriptions {
  background-color: #7c24a5;
}

span.studies {
  background-color: #499c3e;
}

span.leisure {
  background-color: #c0b340;
}

span.market {
  background-color: #bdcc67;
}

span.other {
  background-color: #3ba199;
}

span.health {
  background-color: #c95757;
}

span.transport {
  background-color: #5d55a7;
}

span.clothing {
  background-color: #ad449f;
}

#divWallet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 390px;
}

#divWallet p {
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 20px;
  color: var(--cinza_primario);
}

#divWallet input {
  font-size: 1.5em;
  font-family: "Dosis";
  border: 1px solid var(--cinza_primario);
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  text-align: right;
}

#btnWallet {
  background-color: #3ba19800;
  width: 35px;
  height: 35px;
  padding: 0px;
  border-radius: 5px;
  border: 3px solid var(--cinza_primario);
}

#iconWallet {
  font-size: 2em;
  color: var(--cinza_primario);
}

#btnWallet:hover {
  border-color: black;
}

#iconWallet:hover {
  color: black;
}

div.divBtnRegistrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

label {
  font-family: "Dosis";
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  margin-top: 15px;
}

.btn {
  font-family: "Dosis";
  margin-top: 15px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h1.expenseTitleRead {
  color: rgb(243, 95, 95);
}

div.infoRead {
  border-radius: 5px;
  border: 3px solid rgb(121, 121, 121);
  padding: 10px;
}

h4 {
  margin-top: 10px;
}

div#tableReport {
  font-family: "Dosis";
  font-size: 1.3em;
  padding-bottom: 0px;
  margin-bottom: 50px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px, solid, darkgrey;
}

table.table {
  margin-bottom: 0px;
  text-align: center;
}
